{% extends "layout.html" %}
{% block body %}
<br>
<h3> Articles <h3>
<hr>

{% if articles %}
<form action = "/search" method = "post">

<input type="text" name = "keyword" class=" input-sm" maxlength="64" placeholder="Search article">
<button type="submit" class="btn btn-danger ">Search article</button>

</form>

<br>
<ul class="list-group">
   {% for article in articles %}
   <li class = "list-group-item"><a href = "article/{{article.id}}">{{article.title}}</a></li>
   <hr>
   {% endfor %}
</ul>

{% else %}
<div class = "alert alert-danger" >There is no article on this block yet. </div>

{% endif %}
{% endblock body %}

